################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/test/OREL.Test/obj
/test/OREL.Test/bin
/src/bin/Debug/netcoreapp3.1
/src/obj
/nuget.config
/src/bin
/test/OREL.Test/OREL.Test.csproj.user
